<ion-grid #table>
  <ion-row>
    <ion-col>
      <center>Difficulty</center>
    </ion-col>
    <ion-col #hashColumn>
      <center>{{ network.difficulty }}</center>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <center>Hash</center>
    </ion-col>
    <ion-col class="hash-overlay-parent" *ngIf="hashColumn" [style.max-width]="hashColumnWidth + 'px'">
      <center>
        <div [innerHTML]="network.hash | hashToLink: 'block'"></div>
      </center>
      <hash-overlay [style.max-width]="overlayMaxWidth + 'px'">
        <div [innerHTML]="network.hash | hashToLink: 'block'"></div>
      </hash-overlay>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <center>Reward</center>
    </ion-col>
    <ion-col>
      <center>{{ network.value | xmr | number: '1.1-4' }} XMR / {{ network.value | xmr | convertCurrency: ['XMR', 'USD'] }}</center>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <center>Time Found</center>
    </ion-col>
    <ion-col>
      <center>{{ getTimeFound() }}</center>
    </ion-col>
  </ion-row>
</ion-grid>
