<ion-row #table>
  <ion-col>
    <center>Pool Type</center>
  </ion-col>
  <ion-col>
    <center>{{ poolType }}</center>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <center>Total Hashes Accepted</center>
  </ion-col>
  <ion-col>
    <center>{{ pool.totalHashes }}</center>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <center>Height</center>
  </ion-col>
  <ion-col #hashColumn>
    <center>{{ pool.lastBlockFound | number }}</center>
  </ion-col>
</ion-row>
<ion-row> 
  <ion-col>
    <center>Last Block</center>
  </ion-col>
  <ion-col class="hash-overlay-parent" *ngIf="hashColumn">
    <center>
      <div [innerHTML]="firstBlock.hash | hashToLink: 'block'"></div>
    </center>
    <hash-overlay [style.max-width]="overlayMaxWidth + 'px'">
      <div [innerHTML]="firstBlock.hash | hashToLink: 'block'"></div>
    </hash-overlay>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <center>Block Reward</center>
  </ion-col>
  <ion-col>
    <center>{{ firstBlock.value | xmr | number:'1.1-4' }} XMR / {{ firstBlock.value | xmr | convertCurrency: ['XMR', 'USD'] }}</center>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <center>Blocks Found</center>
  </ion-col>
  <ion-col>
    <center>{{ pool.totalBlocksFound }}</center>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <center>Miners Paid</center>
  </ion-col>
  <ion-col>
    <center>{{ pool.totalMinersPaid }}</center>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <center>Payments Sent</center>
  </ion-col>
  <ion-col>
    <center>{{ pool.totalPayments }}</center>
  </ion-col>
</ion-row>