hash-overlay {
    display: none;
    position: absolute;
    top: 7px;
    left: 3px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.111);
    background-color: rgba(255,255,255,0.888);
    border-radius: 3px;
    z-index: 999;
    .overlay-container {
        padding: 8px;
    }
    a {
        display: block;
    }
}

.hash-overlay-parent {
    center {
        white-space: nowrap;
    }
}

.hash-overlay-parent:hover {
    overflow: visible;
    > * {
        display: none;
    }
    hash-overlay {
        display: block !important;
    }
}

.card-content-md {
    line-height: 1.4;
}
