<div class="save-settings-bar" [class.show]="virtualSettings">
  <center>
    <button ion-button icon-end color="light" (click)="saveSettings()">
      Save
      <ion-icon name="document"></ion-icon>
    </button>
  </center>
</div>
<nav-bar [page]="page"></nav-bar>
<ion-content>
  <ion-segment [(ngModel)]="segment" color="primary" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="pool">
      Pool
    </ion-segment-button>
    <ion-segment-button value="payout">
      Payout
    </ion-segment-button>
    <ion-segment-button value="server">
      Server
    </ion-segment-button>
    <ion-segment-button value="email">
      E-Mail/Misc
    </ion-segment-button>
  </ion-segment>
  <ion-grid padding *ngIf="settings">
    <ion-card col-12 col-xl-6 col-xxl-4 *ngIf="segment === 'pool'">
      <ion-card-header>
        Enabled Pool Types
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col *ngFor="let setting of settings | whereTrue: 'poolType'">
            <ion-item>
              <ion-label>{{ setting.id | prettySettings }}</ion-label>
              <ion-checkbox [ngModel]="setting.value === '1' ? true : false" (ionChange)="updateVirtualSettings(setting, $event.checked)"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-row *ngFor="let setting of settings | mainLoop | where: {id: 'module', value: modules}">
      <ng-container [ngSwitch]="setting.type">
        <ion-col *ngSwitchCase="'bool'">
          <ion-item>
            <ion-label color="primary">{{ setting.id | prettySettings }}</ion-label>
            <ion-toggle [ngModel]="setting.value === '1' ? true : false" (ionChange)="updateVirtualSettings(setting, $event.checked)"></ion-toggle>
          </ion-item>
        </ion-col>
        <ion-col *ngSwitchCase="'int'">
          <ion-item>
            <ion-label color="primary" floating>{{ setting.id | prettySettings }}</ion-label>
            <ion-input type="number" [ngModel]="setting.value" (input)="updateVirtualSettings(setting, $event.target.value)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col *ngSwitchCase="'string'">
          <ion-item>
            <ion-label color="primary" floating>{{ setting.id | prettySettings }}</ion-label>
            <ion-input [ngModel]="setting.value" (input)="updateVirtualSettings(setting, $event.target.value)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col *ngSwitchCase="'float'">
          <ion-item>
            <ion-label color="primary" floating>{{ setting.id | prettySettings }}</ion-label>
            <ion-input type="number" step="0.01" [ngModel]="setting.value" (input)="updateVirtualSettings(setting, $event.target.value)"></ion-input>
          </ion-item>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>